@using WeBlog.Entities.Models;
@model IEnumerable<Post>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (Post post in Model)
        {
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@post.SubTitle</h6>
                        <p class="card-text">Posted on: @post.IsCreatedAt</p>
                        <hr />
                        <p class="card-text">@Html.Raw(post.Content)</p>
                        <hr />
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text"><small class="text-muted">Last Updated On:@post.IsUpdatedAt</small></p>
                            <div>
                                <a asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id" class="btn btn-primary"> <i class="bi bi-pencil-square"></i>Edit</a>
                                <a asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id" class="btn btn-danger"> <i class="bi bi-pencil-square"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
