@using System.Security.Claims
@using WeBlog.Entities.Models.DTOs
@model PostDTO;

@{
    ViewData["Title"] = "Create";
}

<h1>Create Post</h1>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<div class="container">
    <form asp-action="Index" method="post">
        <div class="mb-3">
            <label asp-for="@Model.Title" class="form-label">Title</label>
            <input type="text" class="form-control" asp-for="@Model.Title">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.SubTitle" class="form-label">Sub Title</label>
            <input type="text" class="form-control" asp-for="@Model.SubTitle" >
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Content" class="form-label">Content</label>
             <div id="editor" style="height: 300px;">
                @Html.Raw("")
            </div>
            <input type="hidden" id="content" name="Content" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });

    document.querySelector('form').onsubmit = function () {
        var editorContent = document.querySelector('#editor .ql-editor').innerHTML;
        document.querySelector('#content').value = editorContent;
    };
</script>
